<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32"
          android:compileSdkVersionCodename="12"
          package="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero" platformBuildVersionCode="32"
          platformBuildVersionName="12">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries package="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent>
    </queries>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true"
                      android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON"/>
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS"/>
    <uses-permission android:name="freemme.permission.msa"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="true"
                 android:requestLegacyExternalStorage="true"
                 android:allowClearUserData="true"
                 android:appComponentFactory="androidx.core.app.CoreComponentFactory"
                 android:dataExtractionRules="@xml/data_extraction_rules"
                 android:debuggable="true"
                 android:extractNativeLibs="true"
                 android:fullBackupContent="@xml/backup_rules"
                 android:icon="@mipmap/firepay"
                 android:isSplitRequired="true"
                 android:networkSecurityConfig="@xml/locales_config"
                 android:label="@string/app_name"
                 android:largeHeap="true"
                 android:localeConfig="@xml/locales_config"
                 android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FirepayApplication.FirePayApplication"
                 android:roundIcon="@mipmap/firepay" android:supportsRtl="true" android:theme="@style/Theme.Firepay"
                 android:usesCleartextTraffic="true">
        <activity android:exported="true" android:launchMode="singleTask"
                  android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:host="rockguest" android:scheme="firepay"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="example.app.link" android:scheme="https"/>
                <data android:host="example-alternate.app.link" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale|keyboardHidden|mcc|mnc|orientation|screenSize"
                  android:exported="true" android:hardwareAccelerated="true" android:name="io.dcloud.PandoraEntry"
                  android:theme="@style/TranslucentTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <data android:scheme="hbuilder"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data android:mimeType="image/*"/>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize"
                android:exported="true" android:hardwareAccelerated="true" android:launchMode="singleTask"
                android:name="io.dcloud.PandoraEntryActivity"
                android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"
                android:screenOrientation="user" android:theme="@style/DCloudTheme"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme=" "/>
            </intent-filter>
        </activity>
        <activity android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FirePayActivity"/>
        <activity
                android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FireToPayH5Activity"/>
        <activity
                android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FireProtocolActivity"
                android:screenOrientation="portrait"/>
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebookid"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled" android:value="true"/>
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled" android:value="true"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/fb_client_token"/>
        <activity android:name="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FirePayH5Activity"
                  android:screenOrientation="portrait"/>
        <provider
                android:authorities="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.dc.fileprovider"
                android:exported="false" android:grantUriPermissions="true"
                android:name="io.dcloud.common.util.DCloud_FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/dcloud_file_provider"/>
        </provider>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_lj9T3XxJrhTYo081HyV4bkkiyxlf5Uox"/>
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <meta-data android:name="dcloud_appkey" android:value="0dd1e49d2076ead67478992e54ad2d63"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false"
                  android:name="io.dcloud.feature.nativeObj.photoview.PhotoActivity" android:noHistory="false"
                  android:screenOrientation="behind" android:theme="@style/DeviceDefault.Light"/>
        <activity
                android:configChanges="fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
                android:hardwareAccelerated="true" android:icon="@drawable/dcloud_recent"
                android:label="@string/stream_my" android:launchMode="singleTask"
                android:name="io.dcloud.WebAppActivity" android:screenOrientation="portrait"
                android:theme="@style/DCloudTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="io.dcloud.ProcessMediator"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="false" android:name="io.dcloud.WebviewActivity" android:screenOrientation="portrait"
                  android:theme="@style/ThemeNoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <receiver android:exported="false" android:name="io.dcloud.common.adapter.io.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenSize" android:exported="false"
                  android:name="com.dmcbig.mediapicker.PickerActivity" android:theme="@style/DeviceDefault.Light"
                  android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false"
                  android:name="com.dmcbig.mediapicker.PreviewActivity" android:theme="@style/DeviceDefault.Light"
                  android:windowSoftInputMode="stateAlwaysHidden"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false"
                  android:name="io.dcloud.feature.gallery.imageedit.IMGEditActivity"
                  android:theme="@style/ImageEditTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:exported="false" android:name="io.dcloud.ads.base.service.DownloadService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.taobao.weex.WXGlobalEventReceiver"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
                  android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero"
                      android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="io.dcloud.uniplugin.NativePageActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"/>
        <receiver android:enabled="true" android:exported="false"
                  android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false"
                 android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false"
                 android:name="com.google.android.gms.measurement.AppMeasurementJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false"
                 android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                    android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                    android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                    android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                    android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                    android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                    android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                       android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
                android:authorities="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.firebaseinitprovider"
                android:directBootAware="true" android:exported="false" android:initOrder="100"
                android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider
                android:authorities="com.profin.loan.efectivo.cash.firepay.credit.prestamo.credito.dinero.FacebookInitProvider"
                android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false"
                  android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
    </application>
</manifest>